#**<h1><center>DATA STUCTURES ASSIGNMENT**

---


**Q.1 What are data structures, and why are they important?**
- Data structure is a way of organizing data in the memory. There are multiple data structures in python are lists, tuples, sets and dictionary. Each data structure has its own unique way of storing data. It is also known as containers that store data according to its type. Data structure are important because they make code more efficient and easy to understand. Moreover, they classify data into certain groups and it becomes easier for user to choose the data structure which is best suitable for their data.

**Q.2 Explain the difference between mutable and immutable data types with examples**
- Python has two types of data types: mutable and immutable. Mutable data types are those whose values can be changed whereas immutable are those which cannot be changed after creation. Example Lists are mutable so we can add, remove and update any value in a list whereas tuple is immutable that means tuple element cannot be changed,added or removed after it is created.

**Q.3 What are the main differences between lists and tuples in Python?**
- The main difference between lists and tuples is that list is mutable or changeable and tuples are immutable or unchangeable. List elements can be modified after its creation but for tuple elements modification is not possible directly, one have to first convert tuple to other data type to change its value. Apart from this, tuple are memory efficient as they require less memory as compared to lists.

**Q.4 Describe how dictionaries store data?**
- Dictionaries store data in the form of key value pairs. Each key maps to a specific value and user can access the value by key. While values can be of any data type and can have duplicates, keys must be immutable and unique. Dictionaries are ordered and mutable data structures that is it can be modified after it is created.

**Q.5 Why might you use a set instead of a list in Python?**
- Programmers can use set when they donot need duplicate values or when they want to perform set operations like union, intersection and symmetric difference. Example to store roll number of students, we donot want to give same value to two students. Hence, using set is best option in that case as it will ensure that no two students have same number.

**Q.6 What is a string in Python, and how is it different from a list?**
- Strings are the sequence of characters in a specific manner. Strings are ordered, immutable and can have duplicate values. The difference between lists and string is that string is immutable whereas lists are mutable. Moreover, string stores sequence of characters enclosed in quotes '' wheras lists stores sequence of values enclosed in square brackets [].

**Q.7  How do tuples ensure data integrity in Python?**
- Tuples ensures data integrity as they are immutable which means they remain same in the whole program. Tuples cannot be modified after creation that is no element can be added, removed or changed. This nature of tuple allows them to be keys of dictionaries and elements in sets.

**Q.8 What is a hash table, and how does it relate to dictionaries in Python?**
- Hash table is a data structure in which each element is assigned with a unique value and through this key, value is accessed. It is like maping of key to values. In python, dictionary is the built-in implementation of hash tables and keys satisfy all the conditions and is hashable. Hence, hash table is named as dictionary in python.

**Q.9 Can lists contain different data types in Python?**
- Yes, lists can store hetrogenous data which can be of any data type whether it is mutable or immutable, iterable or not iterable, ordered or unordered.
Example lists can have tuple, dictionary, string and set as elements.

**Q.10 Explain why strings are immutable in Python?**
- Strings are immutable in python because we cannot change or modify any individual character of that string. We can assign another value to the string but changing individual character is not possible.

**Q.11 What advantages do dictionaries offer over lists for certain tasks?**
- It is more convenient to access data in case of dictionaries than lists as accessing element using numberic indexs arise confusion especially when we have huge amount of data. Hence, when we want to work with big data dictionaries are more suitable than lists.

**Q.12 Describe a scenario where using a tuple would be preferable over a list.**
- Tuple is preferrable when we donot want to change the data. An epitome of this is when we want to store employee ids, as every person has unique id and no two employee should have same ids. Hence, tuples are best to store these types of data. Moreover, tuple are fast and memory efficient so they can handle large amount of data efficiently.

**Q.13 How do sets handle duplicate values in Python.**
- Sets donot allow duplicate values, it donot add element if it is already present ensuring unique values in the variable. However, order of elements is lost when we use set.

**Q.14 How does the “in” keyword work differently for lists and dictionaries.**
- 'in' keyword tells if a particular element is present or not. In case of list it searches the given element in the list, if it is present it returns True otherwise it returns False. However, in dictionary 'in' keyword searches the particular key. If the given element is present as a key in dictionary it returns True else it returns False.

**Q.15 Can you modify the elements of a tuple? Explain why or why not.**
- We cannot modify the elements of tuple directly as tuple is immutable. So, it cannot be changed after it is created. But if it is necessary to change any element in tuple, one must first convert into another data type which is mutable like list then make changes. Once we update it we can again convert that list to tuple.

**Q.16 What is a nested dictionary, and give an example of its use case.**
- Nested dictionary means dictionary within dictionary. So, in nested dictionary values are also dictionaries. We need nested dictionary when we need to organize complex or heirarchial data. One of the famous use case of nested dictionary is when we represent a family details. Firstly, people are keys of dictionary and in values we again give dictionary showing properties like height, weight.

Example:


```
dict1={
    "Shubh": {'age':21, 'height':160},
    "ishank":{'age':22,'height':175}
}

```



**Q.17 Describe the time complexity of accessing elements in a dictionary.**
- The time complexity of accessing elements in dictionary is constant i.e. O(1). It is because dictionary is an implementation of hash table which works on a relative address.

**Q.18 In what situations are lists preferred over dictionaries?**
- Lists are easier to access and to modify as it are accessed by numeric indexs.So, to impliment data structures like stack or queue lists are beneficial as it is convenient to add and remove elements from a list.

**Q.19 Why are dictionaries considered unordered, and how does that affect data retrieval?**
- Latest versions of dictionaries are ordered but earlier dictionaries were unordered. They effected data retrieval as the order in which key-value pairs were added were not the same in which they were retrieved. Also, everytime we printed dictionary it gave different order of the elements.

**Q.20 Explain the difference between a list and a dictionary in terms of data retrieval.**
- In case of list we can access elements using indexes whereas in dictionaries values are retrieve either by using keys or by get function.

Example :


```
L=[1,2,3]
L[1] #This is how list elements are accessed
dict1={
    "Shubh": {'age':21, 'height':160},
    "ishank":{'age':22,'height':175}
}
# To retrieve dictionary elements
dict1['Shubh']
dict1.get('Shubh')
```

In [2]:
# 1. Write a code to create a string with your name and print it.
name="Shubhpreet Kaur"
print(f'My Name is {name}')

My Name is Shubhpreet Kaur

In [3]:
# 2. Write a code to find the length of the string "Hello World".
print(len('Hello World'))

11

In [5]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
str = "Python Programming"
sliced_str= str[0:3] # 3 is not included, only 0 to 2 index values are stored
print(sliced_str)

Pyt

In [6]:
# 4. Write a code to convert the string "hello" to uppercase
str2="hello"
print(str2.upper())

HELLO

In [8]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
str3="I like apple"
print(str3.replace("apple","orange"))

I like orange

In [9]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
list1=[1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [10]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
list2=[1,2,3,4]
list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

In [11]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list3=[1,2,3,4,5]
list3.remove(3)
print(list3)

[1, 2, 4, 5]

In [12]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list4=['a','b','c','d']
print(list4[1])

b

In [13]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]
list5=[10, 20, 30, 40, 50]
print(list5[::-1])

[50, 40, 30, 20, 10]

In [14]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple1=(100,200,300)
print(tuple1)

(100, 200, 300)

In [15]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple2=('red', 'green', 'blue', 'yellow')
print(tuple2[1:])

('green', 'blue', 'yellow')

In [16]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
tuple3=(10, 20, 5, 15)
print(min(tuple3))

5

In [17]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tuple4=('dog', 'cat', 'rabbit')
tuple4.index('cat')

1

In [19]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
tuple5=('apple','mango','orange')
print('kiwi' in tuple5)

True

In [20]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it
set1={'a','b','c'}
print(set1)

{'c', 'a', 'b'}

In [22]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
set2={1, 2, 3, 4, 5}
set2.clear()
print(set2)

set()

In [24]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
set3={1,2,3,4}
set3.remove(4)
print(set3)

{1, 2, 3}

In [25]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set4={1,2,3}
set5={3,4,5}
print(set4.union(set5))

{1, 2, 3, 4, 5}

In [26]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set6={1,2,3}
set7={2,3,4}
print(set6.intersection(set7))

{2, 3}

In [28]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict1={"name":"Shubh","age":21,"city":"Sunam"}
print(dict1)

{'name': 'Shubh', 'age': 21, 'city': 'Sunam'}

In [29]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict2={'name': 'John', 'age': 25}
dict2['country']='USA'
print(dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [30]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict3={'name': 'Alice', 'age': 30}
print(dict3['name'])

Alice

In [33]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict4={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict4.pop('age')
print(dict4)

{'name': 'Bob', 'city': 'New York'}

In [34]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict5={'name': 'Alice', 'city': 'Paris'}
print('city' in dict5)

True

In [37]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list_=[1,2,3,4,5]
tuple_=('shubh','ishank','navu')
dict_={"name":"Shubh","age":21,"city":"Sunam"}
print("List is ",list_)
print("Tuple is ",tuple_)
print("Dictionary is ",dict_)

List is  [1, 2, 3, 4, 5]
Tuple is  ('shubh', 'ishank', 'navu')
Dictionary is  {'name': 'Shubh', 'age': 21, 'city': 'Sunam'}

In [47]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order,
# and print the result.(replaced)
import random
num=[]
for i in range(5):
  num.append(random.randint(1,100))
print('Original List',num)
num.sort()
print('Sorted List',num)

Original List [99, 18, 52, 6, 83]
Sorted List [6, 18, 52, 83, 99]

In [48]:
# 28. Write a code to create a list with strings and print the element at the third index
list6=["apple","orange","grape","banana","guava"]
print(list6[3])

banana

In [63]:
# 29. Write a code to combine two dictionaries into one and print the result
d1={"name":"Shubh","age":21,"city":"Sunam"}
d2={'fruit': 'apple', 'color': 'red', 'number': 1}
d1.update(d2)
print(d1)

{'name': 'Shubh', 'age': 21, 'city': 'Sunam', 'fruit': 'apple', 'color': 'red', 'number': 1}

In [66]:
# 30. Write a code to convert a list of strings into a set.
list7=["apple","orange","grape","banana","grape"]
list7=set(list7)
print(list7)

{'banana', 'orange', 'apple', 'grape'}